.section {
    width: 90%;
    background: white;
    border: 1px solid #ddd;
    border-left: 3px solid #663399;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.toolbar{
    margin: 0px -30px;
    display: flex;
}
.toolbar-section {
    padding: 0px 25px;
    display: inherit;
    border-right: 1px solid #1f1d1d;
}
.toolbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    border: none;
    padding: 10px;
    width: 75px;
    color: white;
    font-size: 11px;
}
.toolbar-button:hover{
    background-color: #663399;
    filter: grayscale(75%);
    border: none;
}