

h1 {
  color: red;
  font-size: 20pt;
  text-align: center;
  }

h2 {
 text-align: center;
}

.intro {
  text-align: center;
}

ul {
  text-indent:5px;
}

li {
 margin-left:auto;
 margin-right:auto;
 width:25%;
  font-size:16px;
}

.experience {
  
  margin-left:auto;
  margin-right:auto;
  width:25%;
  line-height:3px;
  font-size:19px;
}

