html, body{
  width: 80%;
  background-color: #f0e7e3;
  padding-bottom: 30px;
}

body{
  margin: 0% 10% 0% 22%;
}
h1{
  width: 100%;
  text-align: center;
  background-color: #c9a4a0;
  padding: 20px 50px 20px 50px;
  box-shadow: 5px 5px 18px #888888;
}
p, li{
  line-height: 175%;
}
div{
  margin: 0px 20px 0px 20px;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  padding: 20px;
  height: 1000px;
}
.left{
  width: 25%;
  margin-left: -20px;
  margin-right: 5%;
  box-shadow: 5px 5px 18px #888888;
}
.right{
  width: 70%;
  margin-left: -20px;
  box-shadow: 5px 5px 18px #888888;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.list-group {
  margin-left: -25px;
}
hr.item {
  margin: 10px 0px 10px -10px;
  height: 1px;
  background-color: #ccc;
  border: none;
}
hr.title {
  margin: 10px 0px 10px 0px;
  height: 3px;
  background-color: #c9a4a0;
  border: none;
}