h2 {
  color: #343a40; 
  font-weight: bold;
}

.collapsible {
  background-color: #343a40;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #777777;
}

.content {
  padding: 0 18px;
  margin-top: 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

