body {
  background-color: black;
  font-family: verdana;
  text-align: center;
}
h1 {
  color: #ECD444;
  
}
h2 {
  color: #ECD444;
}
p {
  color: #FFFFFF;
  font-family: consolas;
}
li {
  color: #FFFFFF;
  font-family: consolas;
}
a{
  color: #EAE0D5
}