html, body{
  width: 80%;
  background-color: #f0e7e3;
}

body{
  margin: 0% 10% 0% 25%;
}
h1{
  text-align: center;
  background-color: #c9a4a0;
  padding: 100px 50px 100px 50px;
  margin-right: 70%;
  box-shadow: 5px 5px 30px #888888;
}
p{
  line-height: 175%;
}
div{
  margin: 0px 20px 0px 20px;
}
.wrap{
  display: inline-block;
}