body {
  font-family: sans-serif;
}

.centered-table {
  margin: 0 auto;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

/**
 * Tooltip styles modified from https://www.w3schools.com/css/css_tooltip.asp
 */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/** End tooltip styles */

/* Sets the background image if the screen size is greater than 1000px*/
/* From wpi-sdc.github.io, a website I helped create. */
@media (min-width: 1000px) {
    body {
        background-repeat: no-repeat;
        /* Centers the background image horizontally, offsets by 20px from the top vertically */
        background-position: center 20px;
        background-image: url("/assets/Rocket_with_Smoke_Colored.svg");
    }
}

@media screen and (min-width: 1200px) {

	.dot1 {
		height: 63px;
		width: 63px;
		background-color: rgb(243, 164, 71);
		border-radius: 50%;
		display: inline-block;
		position: fixed;
		top: calc(50% - 137px - 600px);
		left: calc(26px + 12%);
	}

	.dot2 {
		height: 57px;
		width: 57px;
		background-color: rgb(156, 133, 192);
		border-radius: 50%;
		display: inline-block;
		position: fixed;
		top: calc(50% - calc(137px - 89px) - 600px);
		left: calc(7px + 12%);
	}

	.dot3 {
		height: 27px;
		width: 27px;
		background-color: rgb(208, 146, 167);
		border-radius: 50%;
		display: inline-block;
		position: fixed;
		top: calc(50% - calc(137px - 181px) - 600px);
		left: calc(50px + 12%);
	}

	.dot4 {
		height: 39px;
		width: 39px;
		background-color: rgb(128, 158, 194);
		border-radius: 50%;
		display: inline-block;
		position: fixed;
		top: calc(50% - calc(137px - 240px) - 600px);
		left: calc(16px + 12%);
	}
}