<h1>Noble Kalish Class of 2021</h1>
<h3>This is a short biography of Noble Kalish who has:</h3>
<ul>
  <li>Lived in Denver, CO</li>
  <li>Went to DSST at Green Valley Ranch</li>
  <li>Went to WPI to complete to his BS/MS in computer science</li>
</ul>
<h3>This is a fake biography of Noble Kalish who hasn't:</h3>
<ul>
  <li>Been to Canada</li>
  <li>Eaten a cherry</li>
  <li>Been lost in a desert having to resort to self cannibalism leaving two stubs for legs
  and having to crawl through the rest of the desert until I found safety. Only to release I was at a playground
  and the two legs I ate were actually two small children.</li>
</ul>
