<h1>Noble's Work Experience</h1>
<h3>Restaurants</h3>
<ul>
  <li>Outback Steakhouse</li>
  <p>I was a host and food runner at Outback.</p>
  <li>Zen Sushi and Bar</li>
  <p>I was a food runner and front of house manager at a local sushi bar in Denver.</p>
</ul>
<h3>SNAP</h3>
<p>During the school year I work at SNAP, a free uber-like service run by the campus police.</p>
<h3>ICR</h3>
<p>Over the summer I intern at a engineering firm as a software developer. Learning many practices and languages used in production.</p>

