:root {
  --text-color: rgba(0, 0, 0, 0.93);
  --primary-accent: rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.page {
  max-width: 1000px;
  padding: 15px;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  border-bottom: 2px solid var(--primary-accent);
}

table {
  border: 2px solid var(--primary-accent);
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
}

td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

thead {
  /* background: blue; */
  font-weight: bold;
  border-bottom: 2px solid var(--primary-accent);
}

tbody {
  /* background: red; */
}
